# Virtual environment
venv/
.venv

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Django SQLite database
db.sqlite3

# Django media files (uploaded by users)
media/


# IDE-specific files
.vscode/
.idea/

# Python distribution and packaging
build/
dist/
*.egg-info/

# Environment files
.env
 
