{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Menu - Warm & Whisked{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Our Menu</h1>

    <!-- Menu Categories -->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for value, name in categories %}
                <div class="col-md-3 mb-4">
                    <a href="#{{ value|slugify }}" class="text-decoration-none">
                        <div class="card h-100 border-0 shadow-sm hover-effect">
                            <div class="card-body text-center">
                                <i class="fas fa-utensils fa-3x mb-3 text-primary"></i>
                                <h3 class="h5">{{ name }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Menu Items by Category -->
    {% for category in menu_items_by_category %}
    <section id="{{ category.0|slugify }}">
        <h2 class="text-center">{{ category.1 }}</h2>
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for item in category.2 %}
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="{% static item.image %}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="{{ item.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><strong>LKR {{ item.price }}</strong></p>
                            
                        </div>
                        <div class="card-footer bg-white border-0">
                            <form action="{% url 'add_to_cart' item_id=item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="fas fa-cart-plus me-2"></i> Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}